body{
    background-color: #BFA58C;
}


@keyframes color {
    0%   { background: #4E3333; }
    20%  { background: #634141; }
    40%  { background: #7F5454; }
    60%  { background: #7F5454; }
    80%  { background: #634141; }
    100% { background: #4E3333; }
  }

.navbar{
    border: 1px solid black;
    background-color: #3f2c2c3f!important ;
    border-radius: 15px;
}

.index_container{
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #3f2c2c3f;
}

.subcontainer{
    animation: color 5s infinite linear;
}

.nav-link{
    color: black;
}

p,h1{
    color: black!important;



}